client_id = "8ee8e1494446dc18e5df11fce259645e"
name = "mlv-currency-switcher-app"
application_url = "https://currency-switcher-explified.vercel.app"
embedded = true

[build]
automatically_update_urls_on_dev = false
include_config_on_deploy = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = ["app/uninstalled"]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = ["app/scopes_update"]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  compliance_topics = [
    "customers/data_request",
    "customers/redact",
    "shop/redact"
  ]
  uri = "/webhooks/compliance"

[access_scopes]
scopes = "write_products"

[auth]
redirect_urls = [
  "https://currency-switcher-explified.vercel.app/api/auth"
]
