# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "1da7f7414bb13cf046e5379331399154"
name = "currency-switcher-app"
application_url = "https://currency-switcher-explified.vercel.app"
embedded = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_products,read_script_tags,read_themes,write_products,write_script_tags,write_themes"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [ "https://currency-switcher-explified.vercel.app/api/auth" ]

[build]
automatically_update_urls_on_dev = false
